{{- define "immich.machine-learning.hardcodedValues" -}}
global:
  nameOverride: machine-learning

{{- $ml := index .Values "machine-learning" }}

service:
  main:
    enabled: true
    primary: true
    type: ClusterIP
    ports:
      http:
        enabled: true
        primary: true
        port: 3003
        protocol: HTTP

resources:
  requests:
    memory: "2Gi"
    cpu: "500m"
  limits:
    memory: "3Gi"
    cpu: "2000m"

probes:
  liveness: &probes
    enabled: true
    custom: true
    spec:
      httpGet:
        path: /ping
        port: http
      initialDelaySeconds: 0
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3

  readiness: *probes

  startup:
    enabled: false
{{- end }}

{{ if (index .Values "machine-learning").enabled }}
{{- $ctx := deepCopy . -}}
{{- $_ := get .Values "machine-learning" | mergeOverwrite $ctx.Values -}}
{{- $_ = include "immich.machine-learning.hardcodedValues" . | fromYaml | merge $ctx.Values -}}
{{- include "bjw-s.common.loader.all" $ctx }}
{{ end }}
