## This chart relies on the common library chart from bjw-s
## You can find it at https://github.com/bjw-s-labs/helm-charts/tree/common-4.3.0/charts/library/common
## Refer there for more detail about the supported values

# These entries are shared between all the Immich components

controllers:
  main:
    containers:
      main:
        image:
          tag: v2.3.1
        env:
          REDIS_HOSTNAME: '{{ printf "%s-valkey" .Release.Name }}'
          IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
          # Add the env vars to connect to your database here.

          # ===========================
          # External CNPG wiring
          # ===========================
          DB_HOSTNAME:
            valueFrom:
              secretKeyRef:
                name: immich-db
                key: DB_HOST
          DB_PORT:
            valueFrom:
              secretKeyRef:
                name: immich-db
                key: DB_PORT
          DB_USERNAME:
            valueFrom:
              secretKeyRef:
                name: immich-db
                key: DB_USERNAME
          DB_DATABASE_NAME:
            valueFrom:
              secretKeyRef:
                name: immich-db
                key: DB_NAME
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-db
                key: DB_PASSWORD


immich:
  metrics:
    # Enabling this will create the service monitors needed to monitor immich with the prometheus operator
    enabled: true

  persistence:
    library:
      existingClaim: immich-data-pvc-prd

  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: 2000m
      memory: 8Gi

  configuration: {}
    # trash:
    #   enabled: false
    #   days: 30
    # storageTemplate:
    #   enabled: true
    #   template: "{{y}}/{{y}}-{{MM}}-{{dd}}/{{filename}}"

  # configuration:
  #   # ---------------------------------------------------------
  #   # Core URLs
  #   # ---------------------------------------------------------
  #   publicUrl: "https://immich.nevit.ch"
  #   serverUrl: "http://immich-application-server:3001"
  #   webUrl: "https://immich.nevit.ch"
  #   trustProxy: true

  #   # ---------------------------------------------------------
  #   # Job Concurrency Configuration
  #   # ---------------------------------------------------------
  #   job:
  #     backgroundTask:
  #       concurrency: 5
  #     faceDetection:
  #       concurrency: 5
  #     library:
  #       concurrency: 5
  #     metadataExtraction:
  #       concurrency: 5
  #     ocr:
  #       concurrency: 5
  #     thumbnailGeneration:
  #       concurrency: 5

  #   # ---------------------------------------------------------
  #   # Trash / Deletion Policy
  #   # ---------------------------------------------------------
  #   trash:
  #     days: 40

  #   # ---------------------------------------------------------
  #   # Backup Configuration (disabled)
  #   # ---------------------------------------------------------
  #   backup:
  #     database:
  #       enabled: false

  #   # ---------------------------------------------------------
  #   # SMTP / Email Notifications
  #   # (Gmail configuration)
  #   # ---------------------------------------------------------
  #   notifications:
  #     smtp:
  #       enabled: true
  #       host: "smtp.gmail.com"
  #       # port: 587
  #       # username: "s34s3r@gmail.com"
  #       # sender: "s34s3r@gmail.com"

  #       # # leave empty to inject using Kubernetes Secrets
  #       # password: "mvwocvjuilmkaaat"

  #       # # TLS required for Gmail
  #       # requireTls: true

  #       # # Gmail-specific
  #       # rejectUnauthorized: true

  #   # ---------------------------------------------------------
  #   # Defaults Included (recommended to keep)
  #   # ---------------------------------------------------------
  #   #ffmpeg:
  #   #  threads: 0
  #   #  preset: "veryfast"
  #   #  targetResolution: "1080"
  #   #  transcode: true
  #   #  colorspaceConversion: true

  #   #map:
  #   #  enabled: true
  #   #  darkStyleUrl: ""
  #   #  lightStyleUrl: ""

  #   oauth:
  #     enabled: false
  #     autoLaunch: false

  #   reverseGeocoding:
  #     enabled: true

  #   #storageTemplate:
  #   #  enabled: true
  #   #  template: "{{y}}/{{y}}-{{MM}}-{{dd}}/{{filename}}"

  #   trashBin:
  #     enabled: true

# Dependencies
valkey:
  enabled: false
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/valkey/valkey
            tag: 9.0-alpine@sha256:b4ee67d73e00393e712accc72cfd7003b87d0fcd63f0eba798b23251bfc9c394
            pullPolicy: IfNotPresent
  persistence:
    data:
      enabled: true
      size: 1Gi
      # Optional: Set this to persistentVolumeClaim to keep job queues persistent
      type: emptyDir
      accessMode: ReadWriteOnce
      storageClass: nfs-csi

# Immich components

server:
  enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/immich-app/immich-server
            pullPolicy: IfNotPresent
  ingress:
  ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          nginx.ingress.kubernetes.io/backend-protocol: HTTP
          # proxy-body-size is set to 0 to remove the body limit on file uploads
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
        hosts:
          - host: immich.nevit.ch
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - immich.nevit.ch
            secretName: immich-secret-tls

machine-learning:
  enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/immich-app/immich-machine-learning
            pullPolicy: IfNotPresent
          env:
            TRANSFORMERS_CACHE: /cache
            HF_XET_CACHE: /cache/huggingface-xet
            MPLCONFIGDIR: /cache/matplotlib-config
  persistence:
    cache:
      enabled: true
      size: 10Gi
      # Optional: Set this to persistentVolumeClaim to avoid downloading the ML models every start.
      type: emptyDir
      accessMode: ReadWriteMany
      # storageClass: your-class

