# ===========================
# External CNPG wiring
# ===========================
env:
  REDIS_HOSTNAME: '{{ printf "%s-redis-master" .Release.Name }}'
  DB_HOSTNAME:
    valueFrom:
      secretKeyRef:
        name: immich-db
        key: DB_HOST
  DB_PORT:
    valueFrom:
      secretKeyRef:
        name: immich-db
        key: DB_PORT
  DB_USERNAME:
    valueFrom:
      secretKeyRef:
        name: immich-db
        key: DB_USERNAME
  DB_DATABASE_NAME:
    valueFrom:
      secretKeyRef:
        name: immich-db
        key: DB_NAME
  DB_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: immich-db
        key: DB_PASSWORD
  IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'

# ===========================
# Immich core configuration
# ===========================
image:
  tag: v2.3.1

immich:
  configuration:
  server:
    publicUrl: https://immich.nevit.ch
    externalDomain: https://immich.nevit.ch
    loginPageMessage: "Welcome to IMMICH hosted by Nevit"
    publicUsers: true

    job:
      backgroundTask:
        concurrency: 5
      faceDetection:
        concurrency: 5
      library:
        concurrency: 5
      metadataExtraction:
        concurrency: 5
      ocr:
        concurrency: 5
      thumbnailGeneration:
        concurrency: 5

    trustProxy: true  
    trash:
      days: 40

    backup:
      database:
        enabled: false

  metrics:
    enabled: true

  persistence:
    library:
      existingClaim: immich-data-pvc-prd

  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: 2000m
      memory: 8Gi


# ---------------------------
# Dependencies
# ---------------------------
postgresql:
  enabled: false

redis:
  enabled: true
  architecture: standalone
  image:
    registry: docker.io
    repository: redis
    tag: 7.4-bookworm
  auth:
    enabled: false


# ---------------------------
# Immich server
# ---------------------------
server:
  enabled: true
  controller:
    replicas: 2
    strategy: RollingUpdate
  image:
    repository: ghcr.io/immich-app/immich-server
    pullPolicy: IfNotPresent

  ingress:
    main:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/backend-protocol: HTTP
      hosts:
        - host: immich.nevit.ch
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - immich.nevit.ch
          secretName: immich-secret-tls


# ---------------------------
# Machine Learning
# ---------------------------
machine-learning:
  enabled: true
  controller:
    replicas: 2
  image:
    repository: ghcr.io/immich-app/immich-machine-learning
    pullPolicy: IfNotPresent

  env:
    TRANSFORMERS_CACHE: /cache

  persistence:
    cache:
      enabled: true
      size: 10Gi
      type: emptyDir
      accessMode: ReadWriteMany
      storageClass: nfs-csi
